

<style>

</style>

<div id="fig_el280491399396710963442470446150"></div>
<script>
function mpld3_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(mpld3) !== "undefined" && mpld3._mpld3IsLoaded){
   // already loaded: just create the figure
   !function(mpld3){
       
       mpld3.draw_figure("fig_el280491399396710963442470446150", {"axes": [{"axes": [{"position": "bottom", "nticks": 10, "tickvalues": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "fontsize": 10.0, "scale": "linear", "tickformat": ["Norway", "Germany", "Canada", "United States", "Netherlands", "Sweden", "South Korea", "Switzerland", "France", "Austria"], "grid": {"gridOn": false}, "visible": true}, {"position": "left", "nticks": 9, "tickvalues": null, "fontsize": 10.0, "scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "visible": true}], "bbox": [0.125, 0.10999999999999999, 0.775, 0.77], "markers": [], "yscale": "linear", "collections": [], "paths": [], "xlim": [-0.45, 9.45], "zoomable": true, "id": "el28049139939671163680", "xscale": "linear", "axesbg": "#FFFFFF", "axesbgalpha": null, "sharex": [], "images": [], "texts": [], "ylim": [0.35, 14.65], "lines": [{"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939671248064", "dasharray": "none", "drawstyle": "default", "yindex": 1, "color": "#FFFF00", "alpha": 1}, {"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939671292840", "dasharray": "none", "drawstyle": "default", "yindex": 2, "color": "#C0C0C0", "alpha": 1}, {"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939670790216", "dasharray": "none", "drawstyle": "default", "yindex": 3, "color": "#D2691E", "alpha": 1}], "xdomain": [-0.45, 9.45], "ydomain": [0.35, 14.65], "sharey": []}], "data": {"data01": [[0.0, 14.0, 14.0, 11.0], [1.0, 14.0, 10.0, 7.0], [2.0, 11.0, 8.0, 10.0], [3.0, 9.0, 8.0, 6.0], [4.0, 8.0, 6.0, 6.0], [5.0, 7.0, 6.0, 1.0], [6.0, 5.0, 8.0, 4.0], [7.0, 5.0, 6.0, 4.0], [8.0, 5.0, 4.0, 6.0], [9.0, 5.0, 3.0, 6.0]]}, "id": "el28049139939671096344", "height": 480.0, "width": 640.0, "plugins": [{"type": "reset"}, {"enabled": false, "type": "zoom", "button": true}, {"enabled": false, "type": "boxzoom", "button": true}]});
   }(mpld3);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/mpld3
   require.config({paths: {d3: "https://mpld3.github.io/js/d3.v3.min"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      mpld3_load_lib("https://mpld3.github.io/js/mpld3.v0.3.js", function(){
         
         mpld3.draw_figure("fig_el280491399396710963442470446150", {"axes": [{"axes": [{"position": "bottom", "nticks": 10, "tickvalues": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "fontsize": 10.0, "scale": "linear", "tickformat": ["Norway", "Germany", "Canada", "United States", "Netherlands", "Sweden", "South Korea", "Switzerland", "France", "Austria"], "grid": {"gridOn": false}, "visible": true}, {"position": "left", "nticks": 9, "tickvalues": null, "fontsize": 10.0, "scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "visible": true}], "bbox": [0.125, 0.10999999999999999, 0.775, 0.77], "markers": [], "yscale": "linear", "collections": [], "paths": [], "xlim": [-0.45, 9.45], "zoomable": true, "id": "el28049139939671163680", "xscale": "linear", "axesbg": "#FFFFFF", "axesbgalpha": null, "sharex": [], "images": [], "texts": [], "ylim": [0.35, 14.65], "lines": [{"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939671248064", "dasharray": "none", "drawstyle": "default", "yindex": 1, "color": "#FFFF00", "alpha": 1}, {"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939671292840", "dasharray": "none", "drawstyle": "default", "yindex": 2, "color": "#C0C0C0", "alpha": 1}, {"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939670790216", "dasharray": "none", "drawstyle": "default", "yindex": 3, "color": "#D2691E", "alpha": 1}], "xdomain": [-0.45, 9.45], "ydomain": [0.35, 14.65], "sharey": []}], "data": {"data01": [[0.0, 14.0, 14.0, 11.0], [1.0, 14.0, 10.0, 7.0], [2.0, 11.0, 8.0, 10.0], [3.0, 9.0, 8.0, 6.0], [4.0, 8.0, 6.0, 6.0], [5.0, 7.0, 6.0, 1.0], [6.0, 5.0, 8.0, 4.0], [7.0, 5.0, 6.0, 4.0], [8.0, 5.0, 4.0, 6.0], [9.0, 5.0, 3.0, 6.0]]}, "id": "el28049139939671096344", "height": 480.0, "width": 640.0, "plugins": [{"type": "reset"}, {"enabled": false, "type": "zoom", "button": true}, {"enabled": false, "type": "boxzoom", "button": true}]});
      });
    });
}else{
    // require.js not available: dynamically load d3 & mpld3
    mpld3_load_lib("https://mpld3.github.io/js/d3.v3.min.js", function(){
         mpld3_load_lib("https://mpld3.github.io/js/mpld3.v0.3.js", function(){
                 
                 mpld3.draw_figure("fig_el280491399396710963442470446150", {"axes": [{"axes": [{"position": "bottom", "nticks": 10, "tickvalues": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "fontsize": 10.0, "scale": "linear", "tickformat": ["Norway", "Germany", "Canada", "United States", "Netherlands", "Sweden", "South Korea", "Switzerland", "France", "Austria"], "grid": {"gridOn": false}, "visible": true}, {"position": "left", "nticks": 9, "tickvalues": null, "fontsize": 10.0, "scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "visible": true}], "bbox": [0.125, 0.10999999999999999, 0.775, 0.77], "markers": [], "yscale": "linear", "collections": [], "paths": [], "xlim": [-0.45, 9.45], "zoomable": true, "id": "el28049139939671163680", "xscale": "linear", "axesbg": "#FFFFFF", "axesbgalpha": null, "sharex": [], "images": [], "texts": [], "ylim": [0.35, 14.65], "lines": [{"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939671248064", "dasharray": "none", "drawstyle": "default", "yindex": 1, "color": "#FFFF00", "alpha": 1}, {"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939671292840", "dasharray": "none", "drawstyle": "default", "yindex": 2, "color": "#C0C0C0", "alpha": 1}, {"coordinates": "data", "linewidth": 1.5, "zorder": 2, "data": "data01", "xindex": 0, "id": "el28049139939670790216", "dasharray": "none", "drawstyle": "default", "yindex": 3, "color": "#D2691E", "alpha": 1}], "xdomain": [-0.45, 9.45], "ydomain": [0.35, 14.65], "sharey": []}], "data": {"data01": [[0.0, 14.0, 14.0, 11.0], [1.0, 14.0, 10.0, 7.0], [2.0, 11.0, 8.0, 10.0], [3.0, 9.0, 8.0, 6.0], [4.0, 8.0, 6.0, 6.0], [5.0, 7.0, 6.0, 1.0], [6.0, 5.0, 8.0, 4.0], [7.0, 5.0, 6.0, 4.0], [8.0, 5.0, 4.0, 6.0], [9.0, 5.0, 3.0, 6.0]]}, "id": "el28049139939671096344", "height": 480.0, "width": 640.0, "plugins": [{"type": "reset"}, {"enabled": false, "type": "zoom", "button": true}, {"enabled": false, "type": "boxzoom", "button": true}]});
            })
         });
}
</script>