<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
    <script>
        $(function () {
            $("#myDummyTable").tablesorter({widgets: ['zebra']});
        });
    </script>
</head>
<body>

<table id="myDummyTable" class="tablesorter" style="border:solid 1px; border-color:black" width="80%"
       data-file-height="80%">
    <thead>
    <tr style="border: 1px solid black;">
        <th style="background-color:lightblue">Rank</th>
        <th style="background-color:lightblue">NOC</th>
        <th style="background-color:gold">Gold</th>
        <th style="background-color:silver">Silver</th>
        <th style="background-color:rosybrown">Bronze</th>
        <th style="background-color:lightblue">Total</th>
    </tr>
    </thead>
    <tbody style=" border-collapse: separate;border-spacing: 4px;">


    {% for medal in object_list %}

        <tr style="background-color:lemonchiffon">

            <td>{{ medal.rank }}</td>

            <td>{{ medal.title }}</td>

            <td>{{ medal.gold }}</td>
            <td>{{ medal.silver }}
            <td>{{ medal.bronze }}</td>
            <td>{{ medal.total }}</td>
        </tr>

    {% endfor %}
    </tbody>
</table>
</body>
</html>